@{
    ViewBag.Title = "Student Records";
}

<table class="menuplaintable" summary="This layout table holds the menu items">
    <tbody>
        <tr>
            <td class="mpdefault">&nbsp;</td>
            <td class="mpdefault">
                <a href="" class="submenulinktext2 ">Midterm Grades</a>
                <br>
                <span class="menulinkdesctext ">View Midterm grades where recorded by Faculty</span>
            </td>
        </tr>
        <tr>
            <td class="mpdefault">&nbsp;</td>
            <td class="mpdefault">
                <a href="">View Term Grades</a>
            </td>
        </tr>
        <tr>
            <td class="mpdefault">&nbsp;</td>
            <td class="mpdefault">
                @Html.ActionLink("Unofficial Transcript","AcademicTranscript","Student")
                <br>
                <span class="menulinkdesctext ">View transfer credits, course results and GPA</span>
            </td>
        </tr>
        <tr>
            <td class="mpdefault">&nbsp;</td>
            <td class="mpdefault">
                <a href="">Account Summary by Term</a>
                <br>
                <span class="menulinkdesctext ">View your account details.</span>
            </td>
        </tr>
        <tr>
            <td class="mpdefault">&nbsp;</td>
            <td class="mpdefault">
                <a href="" >T2202A Tax Forms</a>
            </td>
        </tr>
        <tr>
            <td class="mpdefault">&nbsp;</td>
            <td class="mpdefault">
                <a href="">View Holds</a>
            </td>
        </tr>
        <tr>
            <td class="mpdefault">&nbsp;</td>
            <td class="mpdefault">
                <a href="">Request Official Transcript</a>
            </td>
        </tr>
        <tr>
            <td class="mpdefault">&nbsp;</td>
            <td class="mpdefault">
                <a href="">Degree Audit</a>
                <br>
                <span class="menulinkdesctext ">Find out which courses you need to complete to graduate</span>
            </td>
        </tr>
        <tr>
            <td class="mpdefault">&nbsp;</td>
            <td class="mpdefault">
                <a href="" class="submenulinktext2 ">Pay Outstanding Balance</a>
                <br>
                <span class="menulinkdesctext ">Pay Outstanding Balance</span>
            </td>
        </tr>
        <tr>
            <td class="mpdefault">&nbsp;</td>
            <td class="mpdefault">
                <a href="">Apply for Transfer Credit</a>
            </td>
        </tr>
        <tr>
            <td class="mpdefault">&nbsp;</td>
            <td class="mpdefault">
                <a href="">Transfer Credit Status/Re-submit Application</a>
                <br>
                <span class="menulinkdesctext ">View Transfer Credits Status</span>
            </td>
        </tr>
        <tr>
            <td class="mpdefault">&nbsp;</td>
            <td class="mpdefault">
                <a href="" class="submenulinktext2 ">Apply to Graduate</a>
            </td>
        </tr>
        <tr>
            <td class="mpdefault">&nbsp;</td>
            <td class="mpdefault">
                <a href="" class="submenulinktext2 ">Display Active Graduation Applications</a>
            </td>
        </tr>
        <tr>
            <td class="mpdefault">&nbsp;</td>
            <td class="mpdefault">
                <a href="">CSD Test Booking (ATOMS)</a>
            </td>
        </tr>
    </tbody>
</table>