
@{
    ViewBag.Title = "Registration";
}

<table class="menuplaintable" summary="This layout table holds the menu items">
    <tbody>
        <tr>
            <td class="mpdefault">&nbsp;</td>
            <td class="mpdefault">
                @Html.ActionLink("Registration Status","RegistrationStatus","Registration")
                <br>
                <span class="menulinkdesctext ">Including Academic Standing, Student Status, Earned Credits and Curriculum Information.</span>
            </td>
        </tr>
        <tr>
            <td class="mpdefault">&nbsp;</td>
            <td class="mpdefault">
                @Html.ActionLink("Build / Change Timetable & Pay Fees", "BuildTimetable", "Registration")
                <br>
                <span class="menulinkdesctext ">
                    Build or Change your timetable.  You can also pay fees if you have not already done so.<br><b>
                        Note: Please refer to the Registration Information link on your <i>my</i>Centennial home page to see registration dates and window times for your program and classification<br>
                        <a href="" target="_blank"> Registration Information!</a>  Clicking this link will open a new tab/window on your internet browser.
                    </b>
                </span><b>
                </b>
            </td>
        </tr>
        <tr>
            <td class="mpdefault">&nbsp;</td>
            <td class="mpdefault">
                <a href="" class="submenulinktext2 ">Fee Statement</a>
                <br>
                <span class="menulinkdesctext ">Confirm your payment option and view your account balance.</span>
            </td>
        </tr>
        <tr>
            <td class="mpdefault">&nbsp;</td>
            <td class="mpdefault">
                @Html.ActionLink("Fee Payment / Account Summary","FeeAccountSummary","Registration")
                <br>
                <span class="menulinkdesctext ">Confirm your balance, select your payment option and make payments.</span>
            </td>
        </tr>
        <tr>
            <td class="mpdefault">&nbsp;</td>
            <td class="mpdefault">
                @Html.ActionLink("Timetable - Week at a Glance","ViewTimetable","Registration")
                <br>
                <span class="menulinkdesctext ">View your timetable information.</span>
            </td>
        </tr>
        <tr>
            <td class="mpdefault">&nbsp;</td>
            <td class="mpdefault">
                <a href="" class="submenulinktext2 ">Select Term</a>
                <br>
                <span class="menulinkdesctext ">Select the Current Term to Register for your Courses or Pay your Fees.  If you wish to see information from previous semesters, please select the term you wish to view from the drop down list.</span>
            </td>
        </tr>
        <tr>
            <td class="mpdefault">&nbsp;</td>
            <td class="mpdefault">
                <a href="" class="submenulinktext2 ">Select a Locker</a>
                <br>
                <span class="menulinkdesctext ">Select a locker</span>
            </td>
        </tr>
        <tr>
            <td class="mpdefault">&nbsp;</td>
            <td class="mpdefault">
                <a href="" class="submenulinktext2 ">Paid Fees at Your Bank?</a>
                <br>
                <span class="menulinkdesctext ">Click here to select your payment option and optional fees</span>
            </td>
        </tr>
        <tr>
            <td class="mpdefault">&nbsp;</td>
            <td class="mpdefault">
                <a href="" class="submenulinktext2 ">My List of Courses</a>
                <br>
                <span class="menulinkdesctext ">Detailed course information including campus, room, time and day, instructor and status.</span>
            </td>
        </tr>
        <tr>
            <td class="mpdefault">&nbsp;</td>
            <td class="mpdefault">
                <a href="" class="submenulinktext2 ">Pay Outstanding Balance</a>
                <br>
                <span class="menulinkdesctext ">Pay Outstanding Balance</span>
            </td>
        </tr>
    </tbody>
</table>

